$naranja: #F68E1F;
$negro: #000;
$blanco: #fff;
$verde: #00A82D;


$small: 576px;
$medium: 768px;
$large: 992px;
$extralarge: 1200px;

@font-face {
  font-family: 'Edo';
  src: url("../fonts/edosz.ttf");
}



body{
	font-family: 'Montserrat', sans-serif;
	background: $negro;
	overflow-x: hidden;
}

.btn{
	&.btn-primary{
		background: $naranja;
		color: $blanco;
		box-shadow: 3px 3px 0px 0px darken($naranja, 8%);
		border: none;
		font-weight: 700;
		padding: 12px 44px;
		text-transform: uppercase;
		margin: 32px auto;
		display: inline-block;
		&.whatsapp{
			background: $verde;
			box-shadow: 3px 3px 0px 0px darken($verde, 8%);
			display: inline-flex;
			margin-left: 13px;
			align-items: center;
			padding: 12px 39px 11px 18px;
			img{
				margin-right: 6px;
			}
			span{
				text-align: left;
			}
		}
	}
	&.btn-secondary{
		color: $negro;
		background: $blanco;
		box-shadow: 3px 3px 0px 0px darken(#C8C4C4, 8%);
		border: none;
		font-weight: 700;
		padding: 12px 38px 12px 22px;
		text-transform: uppercase;
		margin: 32px auto;
		display: inline-block; 
		&.chevron{
			background: url("../gfx/chevronnegro.svg") no-repeat bottom center;
			background-size: 14px;
			padding:12px 12px 20px 12px;
		}
		&.conoce{
			display: inline-flex;
			align-items: center;
			img{
				margin-right: 12px;
			}
			span{
				text-align: left;
			}
		}
		&:hover, &:active, &:focus{
			background-color: none;
			border:none;
		}

	}
	@media all and (max-width: $large){
		width: 100%;
    	
		&.btn-secondary{
			&.conoce{
				img{
				    max-width: 27px;
				}
			}
		}
		&.btn-primary{
			&.whatsapp{
				img{
				    max-width: 33px;
				}
			}
		}
		br{
			display: none;
		}
	}
}

section.jumbo{
	background: url("../gfx/brush.svg") no-repeat center 22px $blanco;
	.plus_model{
		background-repeat: no-repeat;
		background-position: 80% top;
	}
	.col_promo{

		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 700px;
		.logo, .promo{
			margin: 0 auto;
			display: block;
		}
		.logo{
			max-width: 160px;
			position: absolute;
			padding-top: 32px;
			top: 0;
			left: 0;
		}
		.promo{}
		.cont_botones{
			flex-direction: row;
		}
		@media screen and (max-width: $large){

			.promo{
				margin: 62px 0;
			}
		}
	}
	@media all and (max-width: $large){
		background-position: -70px 0px;
		background-size: 270%;
		.btn{
			margin: 0 0 12px 0 !important;
		}
		/* background-image: none; */
	}
}




section.galeria{
	transform: rotate(1deg);
	background: $negro;
	color: $blanco;
	padding: 160px 0 220px 0;
	margin: -62px -30px 0 -30px;
	.cont_galeria{
		transform: rotate(-1deg);
		h2{
			text-align: center;
			margin-bottom: 82px;
			font-family: "Edo", sans-serif;
			font-size: 42px;
			@media screen and (max-width: $large){
				    font-size: 22px;
			}
		}
		a.unafoto{
			background: url("../gfx/naranja.svg") no-repeat center center;
			background-size: contain;
			padding: 20px;
			text-align: center;
			display: block;
			transition: all .2s linear;
			img{
				transition: all .2s linear;
			}
			&:hover{
				transform: rotate(2deg);
				img{
					transform: rotate(-3deg);
				}
			}
		}
	}
	@media all and (max-width: $small){
		transform: rotate(0);
		margin: 0;
		.cont_galeria{
			transform: rotate(0);
		}
	}
}

section.locales{
	background: $blanco;
	padding: 120px 0;
	h6{
		text-transform: uppercase;
		font-weight: 700;
		font-size: 24px;
		margin: 0;
		padding: 0;	
		text-align: right;
		font-family: "Edo", sans-serif;
		@media screen and (max-width: $large){
			text-align: center;
			margin-bottom: 22px;
		}
	}
	.custom-select {
		border: 3px solid $negro;
		background: url("../gfx/chevron.svg") no-repeat right .75rem center/20px 10px;
		border-radius: 0;
		color: $negro;
		font-size: 18px;
		margin: 0;
		&:focus{
			box-shadow: none;
		}
	}
	.listadorow{
		&.achicado{
			height: 360px;
			overflow: hidden;
		}
		&.agrandado{
			height: auto;
			overflow: auto;
		}
		.cadainfo{
			border: 3px solid $negro;
			background: $negro;
			padding: 16px;
			min-height: 170px;
			margin-bottom: 26px;
			ul{
				margin: 0;
				padding: 0;
				li{
					list-style: none;
					padding: 6px 6px 6px 38px;
					font-size:18px;

					background-repeat: no-repeat;
					background-position: 6px 11px;
					&.direccion{
						background-image: url("../gfx/pin_naranja.svg");
						background-size: 16px;
						line-height: 100%;
						color: $blanco;
						b{
							font-weight: 700;
							font-size: 14px;
						}
					}
					&.telefono{
						background-image: url("../gfx/telefono_naranja.svg");
						background-size: 16px;
						color: $blanco;
					}
				}
			}
		}
	}
}


ul.navsecciones{
	top: 37px;
	position: absolute;
	left: 172px;
	padding: 0;
	margin: 0; 

	li{
		list-style: none;
		display: inline-block; 
		float: left;
    	margin-right: 3px;

		a{
			display: block;
			background: $negro;
			color: $blanco;
			text-decoration: none;
			padding: 8px 12px;
    		border-radius: 6px;
    		border: 2px solid $negro;
    		font-family: "Edo", sans-serif;
    		transition: .2s linear all;
    		&:hover{
    			background-color: $naranja;
    			color: $negro;
    		}
		}
	}
} 

ul.navsecciones{
	&.mujeres li.mujeres a,
	&.hombres li.hombres a,
	&.summer li.summer a{
		background: $naranja;
		color: $negro;
	}

}


@media screen and (max-width: 990px){
	ul.navsecciones{
		left: 12px;
		top: 52px;
		li{
			display: block;
			float: none;
			margin-bottom: 5px;
			a{
				//font-family: 'Montserrat';
				font-size: 16px;
				color: #000;
				border-radius: 3px;
				border: 1px solid #999;
			    background: #fff;
			}
		}
		&.mujeres li.mujeres a,
		&.hombres li.hombres a,
		&.summer li.summer a{
			background: $blanco;
			color: $negro;
			border: 1px solid $naranja;
		}

	}
	section.jumbo .col_promo .logo{
		top: 8px;
	    left: 16px;
	    max-width: 78px;
	    padding-top:4px; 
	}
}







footer{
	transform: rotate(1deg);
	background: $negro;
	margin-top: -32px;
	.cont_footer{
		transform: rotate(-1deg);
		
		.row{
			img{
				margin: 22px auto;
				display: block;
				max-width: 100px;
			}
		}
	}
}